$webResourceManager.requireResourcesForContext("cron-space-admin-screen")

<html>
    <head>
        <title>$action.getText("add.link.action")</title>
        <meta name="decorator" content="main"/>
    </head>
    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        ## Name of the tab to highlight: space-operations is also valid.
        #decoratorParam("context" "space-administration") 

        #applyDecorator ("root")
            ## The .vmd to use - This one displays both in Space Admin and Space Tools.
            #decoratorParam ("context" "spacetoolspanel") 
            ## Key of the web-item to highlight in Space Admin

            ## Key of the web-item to highlight in Space Tools
            #decoratorParam ("selectedSpaceToolsWebItem" "addons") 
            #decoratorParam ("helper" $action.helper)
            <body>
                <div class="pagecontent">
                    <p></p>
                    
						<table class="aui">
							<thead>
								<tr>
									<th id="name">$i18n.getText("de.iteconomics.confluence.plugins.name")</th>
									<th id="job-type">$i18n.getText("de.iteconomics.confluence.plugins.job-type")</th>
									<th id="cron-expression">
										$i18n.getText("de.iteconomics.confluence.plugins.cron-expression")
										<a class="cron-tooltip" title="$i18n.getText('de.iteconomics.confluence.plugins.cron-format')">
											<span class="aui-icon aui-icon-small aui-iconfont-info">$i18n.getText("de.iteconomics.confluence.plugins.info")</span>
										</a>
									</th>
									<th id="status">$i18n.getText("de.iteconomics.confluence.plugins.status")</th>
								</tr>
							</thead>
							<tbody>
								#foreach ($job in ${action.getJobs($action.spaceKey)})
								<tr>
									<td>${job.name}</td>
									#if ($!action.getJobTypeByID($job.jobTypeID))
										<td>
										$action.getJobTypeByID($job.jobTypeID).name
										#if (${job.jobTypeChanged} == "true" && ${job.active} == "true")
											<a id="job-type-modified-tooltip" href="#" original-title="$i18n.getText('de.iteconomics.confluence.plugins.job-type-updated')"><span class="aui-icon aui-icon-small aui-iconfont-warning"/></a>
										#end
										</td>
									#else
										<td><div class="aui-message aui-message-warning">$i18n.getText("de.iteconomics.confluence.plugins.job-type-deleted")</div></td>
									#end
									<td>${job.cronExpression}</td>
									<td>
									#if ($!action.getJobTypeByID($job.jobTypeID))
											<aui-toggle id="toggle-status" class="toggle-status" label="testing the toggle button" data-is-enabled="${action.isEnabled($job)}" data-job-id="${job.ID}" data-space-key="${action.spaceKey}" #if (${action.isEnabled($job)}) checked="" #end #if (${action.isParametersInconsistent($job)} && !${action.isEnabled($job)}) disabled="disabled" #end ></aui-toggle>
											#if (${action.isParametersInconsistent($job)} && !${action.isEnabled($job)})
												<a class="job-disabled-tooltip" href="#" original-title="$i18n.getText('de.iteconomics.confluence.plugins.job-disabled')"><span class="aui-icon aui-icon-small aui-iconfont-info"/></a>
											#end
									#end                                     
									</td>
									<td>
										<button class="delete-button aui-button aui-button-link" type="button" data-job-id="${job.ID}" data-space-key="${action.spaceKey}"><span class="aui-icon aui-icon-small aui-iconfont-delete">$i18n.getText("de.iteconomics.confluence.plugins.delete")</span></button>
										#if ($!action.getJobTypeByID($job.jobTypeID))
										<button class="edit-button aui-button aui-button-link" type="button" data-job-id="${job.ID}" data-job-name="${job.name}" data-job-type="${job.jobTypeID}" data-cron-expression="${job.cronExpression}" >
											<span class="aui-icon aui-icon-small aui-iconfont-edit" data-job-id="${job.ID}" data-job-name="${job.name}" data-job-type="${job.jobTypeID}" data-cron-expression="${job.cronExpression}" >$i18n.getText("de.iteconomics.confluence.plugins.edit")</span>
										</button>
										#end
									</td>	
								</tr>
								#end
							</tbody>
						</table>
						<br/><br/>
						#if ($req.getParameter("save-error"))
						<div class="aui-message aui-message-error">
							<p class="title">
								<strong>$i18n.getText("de.iteconomics.confluence.plugins.error")</strong>
							</p>
							<p>$i18n.getText("de.iteconomics.confluence.plugins.save-error")</p>
						</div>
						#end
						#if ($req.getParameter("delete-error"))
						<div class="aui-message aui-message-error">
							<p class="title">
								<strong>$i18n.getText("de.iteconomics.confluence.plugins.error")</strong>
							</p>
							<p>$i18n.getText("de.iteconomics.confluence.plugins.deleteerror")</p>
						</div>
						#end						
						<form class="aui top-label" method="post" action="SaveJob.action">
							<h3>$i18n.getText("de.iteconomics.confluence.plugins.create-job")</h3>
							<fieldset class="top-label">
							<div class="field-group top-label">
								<label for="create-name">Name<span class="aui-icon aui-icon-required">$i18n.getText("de.iteconomics.confluence.plugins.required")</span></label>
								<input id="create-name" data-aui-validation-job-name="$action.getJobNameValidationString()" data-is-edit="false" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="$i18n.getText('de.iteconomics.confluence.plugins.job-name-required')" class="text" type="text" name="name">
							</div>
							<div class="field-group top-label">
								<label for="create-job-type">Type<span class="aui-icon aui-icon-required">$i18n.getText("de.iteconomics.confluence.plugins.required")</span></label>
								<select id="create-job-type" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="$i18n.getText('de.iteconomics.confluence.plugins.job-jobtype-required')" name="job-type">
									<option value="">$i18n.getText("de.iteconomics.confluence.plugins.none-option")</option>
									#foreach ($jobType in $action.allJobTypes)
										<option value="$jobType.ID">$jobType.name</option>
									#end
								</select>
								<p id="create-job-job-type-description" style="font-style: italic; color: #707070;"></p>
							</div>
							<div id="create-job-parameters"></div>
							<div class="field-group top-label">
								<label for="create-cron-expression">$i18n.getText("de.iteconomics.confluence.plugins.cron-expression")<span class="aui-icon aui-icon-required">$i18n.getText("de.iteconomics.confluence.plugins.required")</span>
									<a class="cron-tooltip" title="$i18n.getText('de.iteconomics.confluence.plugins.cron-format')">
										<span class="aui-icon aui-icon-small aui-iconfont-info">$i18n.getText("de.iteconomics.confluence.plugins.info")</span>
									</a>
								</label>
								<input id="create-cron-expression" data-aui-validation-field data-aui-validation-cron-expression="valid" data-aui-validation-required="required" data-aui-validation-required-msg="$i18n.getText('de.iteconomics.confluence.plugins.job-cronexpression-required')" class="text" type="text" name="cron-expression">
							</div>
							<input type="hidden" name="spacekey" value="$action.getSpaceKey()"/>
							<div class="field-group top-label">	
								<button class="aui-button" type="submit">$i18n.getText("de.iteconomics.confluence.plugins.save")</button>
							</div>
							</fieldset>
						</form>
          </div>
          
                <section role="dialog" id="edit-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
							    <header class="aui-dialog2-header">
							        <!-- The dialog's title -->
							        <h2 class="aui-dialog2-header-main">$i18n.getText("de.iteconomics.confluence.plugins.edit-job")</h2>
							    </header>
							    <!-- Main dialog content -->
							    <div class="aui-dialog2-content">
										<form id="edit-form" class="aui top-label" method="post" action="EditJob.action">
											<fieldset class="top-label">
											<div class="field-group top-label">
												<label for="edit-name">$i18n.getText("de.iteconomics.confluence.plugins.name")<span class="aui-icon aui-icon-required">$i18n.getText("de.iteconomics.confluence.plugins.required")</span></label>
												<input id="edit-name" data-aui-validation-job-name="$action.jobNameValidationString" data-is-edit="true" data-current-name="" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="$i18n.getText('de.iteconomics.confluence.plugins.job-name-required')" class="text" type="text" name="name"></input>
											</div>
											<div class="field-group top-label">
												<label for="edit-job-type">Type<span class="aui-icon aui-icon-required">$i18n.getText("de.iteconomics.confluence.plugins.required")</span></label>
												<select id="edit-job-type" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="$i18n.getText('de.iteconomics.confluence.plugins.job-jobtype-required')" name="job-type">
													<option value="">$i18n.getText("de.iteconomics.confluence.plugins.none-option")</option>
													#foreach ($jobType in $action.allJobTypes)
														<option class="jobtype-option" value="$jobType.ID">$jobType.name</option>
													#end
												</select>
												<p id="edit-job-job-type-description" style="font-style: italic; color: #707070;"></p>
											</div>
											<div id="edit-job-parameters">
											</div>
											<div class="field-group top-label">
												<label for="edit-cron-expression">$i18n.getText("de.iteconomics.confluence.plugins.cron-expression")<span class="aui-icon aui-icon-required">$i18n.getText("de.iteconomics.confluence.plugins.required")</span>
													<a class="tooltip" title="$i18n.getText('de.iteconomics.confluence.plugins.cron-format')">
														<span class="aui-icon aui-icon-small aui-iconfont-info">$i18n.getText("de.iteconomics.confluence.plugins.info")</span>
													</a>
												</label>
												<input id="edit-cron-expression" data-aui-validation-field data-aui-validation-cron-expression="valid" data-aui-validation-required="required" data-aui-validation-required-msg="$i18n.getText('de.iteconomics.confluence.plugins.job-cronexpression-required')" class="text" type="text" name="cron-expression">
											</div>
											<input type="hidden" name="spacekey" value="$action.getSpaceKey()"/>
											<input id="edit-job-id" type="hidden" name="id" />
											</fieldset>
											<span id="parameter-string" data-parameters=""/>
										</form>
							    </div>
							    <!-- Dialog footer -->
							    <footer class="aui-dialog2-footer">
							        <!-- Actions to render on the right of the footer -->
							        <div class="aui-dialog2-footer-actions">
							            <button type="button" id="submit-dialog" class="aui-button aui-button-primary">$i18n.getText("de.iteconomics.confluence.plugins.save")</button>
							            <button type="button" id="close-dialog" class="aui-button aui-button-link">$i18n.getText("de.iteconomics.confluence.plugins.close")</button>
							        </div>
							    </footer>
							</section>
							
            </body>
        #end
    #end
</html>