$webResourceManager.requireResourcesForContext("cron-configuration-screen")

<html>
  <head>
    <meta name="decorator" content="atl.admin"/>
    <title>Manage Job Types</title>
  </head>
  
  <body>
<h2>Job types</h2>
<table class="aui">
	<thead>
		<tr>
			<th id="name">Name</th>
			<th id="url">URL</th>
			<th id="http-method">Http method</th>
			<th id="parameters">parameters</th>
			<th di="authentication">Athentication required</th>
		</tr>
	</thead>
	<tbody>
		#foreach ($jobtype in ${action.allJobTypes})
		<tr>
			<td>${jobtype.name}</td>
			<td>${jobtype.url}</td>
			<td>${jobtype.httpMethod}</td>
			<td>$!{jobtype.parameterNames}</td>
			<td>
			#if(${jobtype.authenticationRequired} == true)
				yes
			#else
				no
			#end
			</td>
			<td>
				<button class="delete-button aui-button aui-button-link" type="button" data-job-type-id="${jobtype.ID}"><span class="aui-icon aui-icon-small aui-iconfont-delete" data-job-type-id="${jobtype.ID}">Delete</span></button>
				<button class="edit-button aui-button aui-button-link" type="button" data-job-type-id="${jobtype.ID}" data-job-type-name="${jobtype.name}" data-job-type-url="${jobtype.url}" data-job-type-parameters="${jobtype.parameterNames}" data-job-type-method="${jobtype.httpMethod}"><span class="aui-icon aui-icon-small aui-iconfont-edit" data-job-type-id="${jobtype.ID}" data-job-type-name="${jobtype.name}" data-job-type-url="${jobtype.url}" data-job-type-parameters="${jobtype.parameterNames}" data-job-type-method="${jobtype.httpMethod}">Edit</span></button></td>		
			</td>
		</tr>
		#end
	</tbody>
</table>
<br/><br/>
<form class="aui top-label" action="SaveJobType.action">
	<h3>Create Job Type</h3>
	<fieldset class="top-label">
	<div class="field-group top-label">
		<label for="create-job-type-name">Name<span class="aui-icon aui-icon-required">Required</span></label>
		<input id="create-job-type-name" data-aui-validation-job-type-name="$action.jobTypeNameValidationString" data-is-edit="false" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="You must provide a job type name" class="text" type="text" name="name">
	</div>
	<div class="field-group top-label">	
		<label for="create-job-type-url">URL<span class="aui-icon aui-icon-required">Required</span></label>
		<input id="create-job-type-url" data-aui-validation-field data-aui-validation-doesnotcontain=" " data-aui-validation-doesnotcontain-msg="The URL may not contain whitespace" data-aui-validation-required data-aui-validation-required-msg="You must provide a URL" class="text" type="text" name="url">
	</div>
	<div class="field-group top-label">	
		<label for="create-job-type-parameters">Parameters</label>
		<textarea id="create-job-type-parameters" class="textarea" name="parameters" rows="2" cols="10"></textarea>		
	</div>	
	<div class="field-group top-label">	
		<label for="create-job-type-http-method">Http method<span class="aui-icon aui-icon-required">Required</span></label>
		<aui-select id="create-job-type-http-method" name="http-method">
			<aui-option selected="selected" value="GET">GET</aui-option>
			<aui-option value="POST">POST</aui-option>
			<aui-option value="PUT">PUT</aui-option>
			<aui-option value="DELETE">DELETE</aui-option>
		</aui-select>
	</div>
	<div class="field-group top-label">	
		<label for="create-job-type-authentication">Requires Authentication</label>
		<input type="checkbox" id="create-job-type-authentication" class="checkbox" name="authentication"></textarea>		
	</div>
	<div class="field-group top-label">
		<button class="aui-button" type="submit">save</button>
	</div>
	</fieldset>
</form>
<br/>
<h2>Jobs</h2>
	<table class="aui">
		<thead>
			<tr>
				<th id="name">Name</th>
				<th id="job-type">Job Type</th>
				<th id="space-key">Space Key</th>
				<th id="cron-expression">
					Cron Expression
					<a class="cron-tooltip" title="Format: seconds minutes hours dayOfWeek month dayOfMonth year">
						<span class="aui-icon aui-icon-small aui-iconfont-info">info</span>
					</a>
				</th>
				<th>Parameters</th>
				<th id="status">Status</th>
			</tr>
		</thead>
		<tbody>
			#foreach ($job in ${action.allJobs})
			<tr>
				<td>${job.name}</td>
				#if ($!action.getJobTypeByID($job.jobTypeID))
					<td>$action.getJobTypeByID($job.jobTypeID).name</td>
				#else
					<td><div class="aui-message aui-message-warning">This job type has been deleted</div></td>
				#end
				<td>${job.spaceKey}</td>
				<td>${job.cronExpression}</td>
				<td>${job.parameters}</td>
				<td>
				#if ($!action.getJobTypeByID($job.jobTypeID))
						<aui-toggle id="toggle-status" class="toggle-status" label="testing the toggle button" data-is-enabled="${action.isEnabled($job)}" data-job-id="${job.ID}" data-space-key="${job.spaceKey}" #if (${action.isEnabled($job)}) checked="" #end></aui-toggle>
				#end
				</td>
				<td>
					<button class="delete-button aui-button aui-button-link" type="button" data-job-id="${job.ID}" data-space-key="${job.spaceKey}"><span class="aui-icon aui-icon-small aui-iconfont-delete">Delete</span></button>
				</td>	
			</tr>
			#end
		</tbody>
	</table>
                
      <section role="dialog" id="edit-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
			  <header class="aui-dialog2-header">
			      <!-- The dialog's title -->
			      <h2 class="aui-dialog2-header-main">Edit Job Type</h2>
			  </header>
		    <!-- Main dialog content -->
		    <div class="aui-dialog2-content">
					<form id="edit-form" class="aui top-label" method="post" action="EditJobType.action">
						<fieldset class="top-label">
						<div class="field-group top-label">
							<label for="edit-job-type-name">Name<span class="aui-icon aui-icon-required">Required</span></label>
							<input id="edit-job-type-name" data-is-edit="true" data-current-name="" data-aui-validation-job-type-name="$action.jobTypeNameValidationString" data-is-edit="true" data-current-name="" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="You must provide a job type name" class="text" type="text" name="name"></input>
						</div>
						<div class="field-group top-label">
							<label for="edit-job-type-url">URL<span class="aui-icon aui-icon-required">Required</span></label>
							<input id="edit-job-type-url" data-aui-validation-field data-aui-validation-doesnotcontain=" " data-aui-validation-doesnotcontain-msg="The URL may not contain whitespace" data-aui-validation-required="required" data-aui-validation-required-msg="You must provide an url" class="text" type="text" name="url">
						</div>
						<div class="field-group top-label">
							<label for="edit-job-type-parameters">Parameters</label>
							<textarea id="edit-job-type-parameters" class="textarea" name="parameters" rows="2" cols="10"></textarea>		
						</div>						
						<div class="field-group top-label">
							<label for="edit-job-type-method">Http method<span class="aui-icon aui-icon-required">Required</span></label>
							<aui-select id="edit-job-type-method" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="You must pick an http method" name="http-method">
								<aui-option class="method-option" value="GET">GET</aui-option>
								<aui-option class="method-option" value="POST">POST</aui-option>
								<aui-option class="method-option" value="PUT">PUT</aui-option>
								<aui-option class="method-option" value="DELETE">DELETE</aui-option>
							</aui-select>
						</div>											
						<input id="edit-job-type-id" type="hidden" name="id" />
						</fieldset>
					</form>
		    </div>
		    <!-- Dialog footer -->
		    <footer class="aui-dialog2-footer">
		        <!-- Actions to render on the right of the footer -->
		      <div class="aui-dialog2-footer-actions">
		        <button type="button" id="submit-dialog" class="aui-button aui-button-primary">Save</button>
		        <button type="button" id="close-dialog" class="aui-button aui-button-link">Close</button>
		      </div>
		    </footer>
			</section>


</body>
</html>