<h1>Woooooo!</h1>
<p>${action.greeting}</p>
<p>all configured jobs:</p>
<ul>
#foreach ($jobtype in ${action.allJobTypes})
	<li>${jobtype.name} <a href="/confluence/plugins/cron-for-space-admins/DeleteJobType.action?name=${jobtype.name}">delete</a></li>
#end
</ul>
<form action="SaveJobType.action">
	<input type="text" name="name"></input>
	<button type="submit">save</button>
</form>