$webResourceManager.requireResourcesForContext("cron-space-admin-screen")

<html>
    <head>
        <title>$action.getText("add.link.action")</title>
        <meta name="decorator" content="main"/>
    </head>
    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        ## Name of the tab to highlight: space-operations is also valid.
        #decoratorParam("context" "space-administration") 

        #applyDecorator ("root")
            ## The .vmd to use - This one displays both in Space Admin and Space Tools.
            #decoratorParam ("context" "spacetoolspanel") 
            ## Key of the web-item to highlight in Space Admin

            ## Key of the web-item to highlight in Space Tools
            #decoratorParam ("selectedSpaceToolsWebItem" "addons") 
            #decoratorParam ("helper" $action.helper)
            <body>
                <div class="pagecontent">
                    <p></p>
                    
						<h3>Job Configuration</h3>
						<table class="aui">
							<thead>
								<tr>
									<th id="name">Name</th>
									<th id="job-type">Job Type</th>
									<th id="cron-expression">Cron Expression</th>
									<th id="status">Status</th>
								</tr>
							</thead>
							<tbody>
								#foreach ($job in ${action.allJobs})
								<tr>
									<td>${job.name}</td>
									<td>$action.getJobTypeByID($job.jobTypeID).name</td>
									<td>${job.cronExpression}</td>
									<td>
										<aui-toggle id="toggle-test" label="testing the toggle button" data-is-enabled="${action.isEnabled($job)}" data-job-id="${job.ID}" data-space-key="${action.spaceKey}" #if (${action.isEnabled($job)}) checked="" #end></aui-toggle>
									</td>
									<td>
										<button class="delete-button aui-button aui-button-link" type="button" data-job-id="${job.ID}" data-space-key="${action.spaceKey}"><span class="aui-icon aui-icon-small aui-iconfont-delete">Delete</span></button>
										<button class="edit-button aui-button aui-button-link" type="button" data-job-id="${job.ID}" data-job-name="${job.name}" data-job-type="${job.jobTypeID}" data-cron-expression="${job.cronExpression}"><span class="aui-icon aui-icon-small aui-iconfont-edit">Edit</span></button>
									</td>	
								</tr>
								#end
							</tbody>
						</table>
						<br/><br/>
						#if ($req.getParameter("save-error"))
						<div class="aui-message aui-message-error">
							<p class="title">
								<strong>Error</strong>
							</p>
							<p>There was an error while saving the job.</p>
						</div>
						#end
						#if ($req.getParameter("delete-error"))
						<div class="aui-message aui-message-error">
							<p class="title">
								<strong>Error</strong>
							</p>
							<p>There was an error while deleting the job.</p>
						</div>
						#end						
						<form class="aui top-label" method="post" action="SaveJob.action">
							<h3>Create Job</h3>
							<fieldset class="top-label">
							<div class="field-group top-label">
								<label for="name">Name<span class="aui-icon aui-icon-required">Required</span></label>
								<input data-aui-validation-job-name="$action.getJobNameValidationString()" data-is-edit="false" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="You must provide a job name" class="text" type="text" name="name">
							</div>
							<div class="field-group top-label">
								<label for="job-type">Type<span class="aui-icon aui-icon-required">Required</span></label>
								<select data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="You must pick a job type" id="select-job-type" name="job-type">
									<option value="">-- none --</option>
									#foreach ($jobType in $action.allJobTypes)
										<option value="$jobType.ID">$jobType.name</option>
									#end
								</select>
							</div>
							<div class="field-group top-label">
								<label for="cron-expression">Cron Expression<span class="aui-icon aui-icon-required">Required</span></label>
								<input data-aui-validation-field data-aui-validation-cron-expression="valid" data-aui-validation-required="required" data-aui-validation-required-msg="You must provide a cron expression" class="text" type="text" name="cron-expression">
							</div>
							<input type="hidden" name="spacekey" value="$action.getSpaceKey()"/>
							<div class="field-group top-label">	
								<button class="aui-button" type="submit">save</button>
							</div>
							</fieldset>
						</form>

						<h3>Registered job keys:</h3>
						<ul>
						#foreach ($jobkey in $action.allRegisteredJobs)
						<li>$jobkey</li>
						#end
						</ul>
						            
                </div>
                
                <section role="dialog" id="edit-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
							    <header class="aui-dialog2-header">
							        <!-- The dialog's title -->
							        <h2 class="aui-dialog2-header-main">Edit Job</h2>
							    </header>
							    <!-- Main dialog content -->
							    <div class="aui-dialog2-content">
										<form id="edit-form" class="aui top-label" method="post" action="EditJob.action">
											<h3>Edit Job</h3>
											<fieldset class="top-label">
											<div class="field-group top-label">
												<label for="name">Name<span class="aui-icon aui-icon-required">Required</span></label>
												<input id="edit-job-name" data-aui-validation-job-name="$action.jobNameValidationString" data-is-edit="true" data-current-name="" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="You must provide a job name" class="text" type="text" name="name"></input>
											</div>
											<div class="field-group top-label">
												<label for="job-type">Type<span class="aui-icon aui-icon-required">Required</span></label>
												<select id="edit-job-type" data-aui-validation-field data-aui-validation-required data-aui-validation-required-msg="You must pick a job type" name="job-type">
													<option value="">-- none --</option>
													#foreach ($jobType in $action.allJobTypes)
														<option class="jobtype-option" value="$jobType.ID">$jobType.name</option>
													#end
												</select>
											</div>
											<div class="field-group top-label">
												<label for="cron-expression">Cron Expression<span class="aui-icon aui-icon-required">Required</span></label>
												<input id="edit-job-cron-expression" data-aui-validation-field data-aui-validation-cron-expression="valid" data-aui-validation-required="required" data-aui-validation-required-msg="You must provide a cron expression" class="text" type="text" name="cron-expression">
											</div>
											<input type="hidden" name="spacekey" value="$action.getSpaceKey()"/>
											<input id="edit-job-id" type="hidden" name="id" />
											</fieldset>
										</form>
							    </div>
							    <!-- Dialog footer -->
							    <footer class="aui-dialog2-footer">
							        <!-- Actions to render on the right of the footer -->
							        <div class="aui-dialog2-footer-actions">
							            <button type="button" id="submit-dialog" class="aui-button aui-button-primary">Save</button>
							            <button type="button" id="close-dialog" class="aui-button aui-button-link">Close</button>
							        </div>
							    </footer>
							</section>
							
            </body>
        #end
    #end
</html>